/* Character Form */
.char-card {
    background-color: #00161d;
    border-radius: 1.5rem;
    padding: 30px;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.char-form-heading {
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}
.show-image-area {
    height: 165px;
    border: 2px dotted #002d3c;
    border-radius: 5px;
    width: 100%;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.show-image-area #image-preview {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.image-file-input {
    background-color: #212529;
    border: 1px solid #002d3c;
    color: white;
}
#image-preview {
    width: 100%;
    display: none;
    object-fit: cover;
}
.add-save-btn {
    background-color: #007274;
    color: white;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 0.5rem;
    font-weight: 600;
}
.add-save-btn:hover,
.add-save-btn:active {
    background-color: #005455;
    color: white;
}