.auth-button {
    position: fixed;
    top: 20px;
    right: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 9999; /* stay above content */
}

.auth-button li {
    display: inline-block;
}

.signin-btn {
    display: inline-block;
    background-color: #00161d;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease;
}

.signin-accept {
    list-style: none;
    padding: 0;
    margin: 0;
}

.signin-accept li {
    display: inline-block;
}

.signin-acc-btn {
    background-color: #00161d;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease;
}

.login-btn {
    display: inline-block;
    background-color: #00161d;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease;
}

.login-page {
    background-image: url('../images/brick_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
}

.container-fluid, .web-content {
    padding: 0 !important;   /* remove container padding */
    margin: 0 !important;    /* remove any margins */
}

.login-card {
    background-color: #00161d;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
}

.login-card-bg {
    background: #00161d;
    color: white;
}

.login-logo {
    width: 120px;
    max-width: 150px;
    height: auto;
}
