.auth-navbar {
    background-color: #000d12 !important;
}

.login-page {
    background-image: url('../images/brick_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
}

.container-fluid, .web-content {
    padding: 0 !important;   /* remove container padding */
    margin: 0 !important;    /* remove any margins */
}

.login-card {
    background-color: #333; /* dark grey */
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
}

.login-card-bg {
    background: #333;
    color: white;
}

.login-logo {
    width: 120px;
    max-width: 150px;
    height: auto;
}
