/* Auth Layout */
.auth-page {
    background-image: url('../images/brick_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;

    margin: 0 !important;        /* Bacground zacina hore */
}

/* In Common */
    /* Button on TOP */
.top-btn {
    display: inline-block;       /* Pre padding a width */
    position: fixed;             /* Ostava vo viewport aj po scrollovani */
    top: 10px;
    right: 25px;
    z-index: 9999;               /* Ostava navrchu */

    background-color: #007274;
    color: white;                /* Text */
    padding: 10px 20px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;            /* Bold */
}
.top-btn:hover,
.top-btn:active {
    background-color: #005455;  /* Stmavne po kliknutí / prejdení */
}

    /* LogIn / SignIn Card */
.card-auth {
    background-color: #00161d;
    color: white;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;

    margin-top: 60px !important;    /* Zabrani prekryvaniu s TOP Button */
}
.logo-auth {
    max-width: 40%;
    width: auto;
    height: auto;
}
    /* Accept Button to send Form */
.auth-accept {
    background-color:  #007274;
    color: white;
    display: block;
    margin: 0 auto;             /* Centrovany horizontalne */
    font-weight: 600;           /* Bold */
}
.auth-accept:hover,
.auth-accept:active {
    background-color: #005455;  /* Stmavne po kliknutí / prejdení */
}
