/* Character Card */
.character-card-grid {
    max-width: 1200px;
}
.character-card {
    background-color: #00161d;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    height: 100%;                       /* 100% predka */
    overflow: hidden;                   /* Odreze pretekajuci kontent */
    max-width: 380px;
    margin: 0 auto;                     /* Centruje horizontalne */
    transition: transform 0.2s ease;    /* Hladky transform pri :hover */
}
.character-card:hover {
    transform: translateY(-5px);        /* Posunie vyssie */
}
.character-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    white-space: nowrap;
    overflow: hidden;               /* Prilis dlhe meno sa skryje */
    text-overflow: clip;            /* Odstrihne koniec dlheho textu */
    padding-left: 2px;
    padding-right: 2px;
}
.character-image {
    height: 250px;
    width: 100%;
    overflow: hidden;

    /* Centrovanie obrazka */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #002734;
    border-radius: 5px;
}
.character-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}