/* Edit Character Form */
.edit-show-image {
    height: 165px;
    border: 2px dotted #002d3c;
    border-radius: 5px;
    width: 100%;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.edit-show-image #image-preview {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.delete-char-btn {
    background-color: #780606;
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.delete-char-btn:hover,
.delete-char-btn:active {
    background-color: #600707;
    color: white;
}