/* Root Layout */
.navbar-root {
    background-color: #00161d;
    padding: 0.5rem 1rem;
}
.navbar-logo {
    width: auto;
    height: 50px;
}
.navbar-dropdown {
    background-color: #004050;
    border: none;
}
.navbar-user {
    color: white !important;
    font-weight: 600 !important;
}
.navbar-logout {
    color: red !important;
}
.navbar-logout:hover {
    background-color: #002937;
    color: red !important;
}