/* Root Layout */
.root-page {
    background-image: url('../images/brick_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;

    margin: 0 !important;        /* Bacground zacina hore */
}

.navbar-root {
    background-color: #00161d;
    padding: 0.5rem 1rem;
}
.navbar-logo {
    width: auto;
    height: 50px;
}
.navbar-dropdown {
    background-color: #004050;
    border: none;
}
.navbar-dropdown a,
.navbar-dropdown span {
    color: white;
}
.navbar-dropdown a:hover,
.navbar-dropdown a:active {
    background-color: #002937;
    color: white;
}
.navbar-logout {
    color: red !important;
}
.navbar-logout:hover,
.navbar-logout:active {
    background-color: #002937;
    color: red !important;
}
.navbar-menu-small {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    line-height: 0;
}